# EditorConfig is awesome: https://EditorConfig.org

# Don't search directories beyond this one
root = true

[*]
indent_style = space
indent_size = 4

[*.{js,json,yarm}]
charset = utf-8
trim_trailing_whitespace = true
