[user]
	name = Alex Lysenka
	email = Alex.Lysenka@morningstar.com
[http]
	sslVerify = false
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[format]
	pretty = short
[core]
	editor = vim
	pager = less -r
[merge]
	tool = vimdiff
[diff]
	submodule = log
